# SDK e caches locais
.tools/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/
coverage/
*.iml
.idea/
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore
*.log
